.image-slideshow {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	width: 600px;
    height: 300px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
    position: relative;
}

.image-slideshow > div {
	width: 600px;
    height: 300px;
	animation: move 15s ease-in-out 2s infinite alternate;
    display:inline-block;
}
.image-slideshow > div div {
	position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    width: 100%;
}
.image-slideshow h2 {
	padding: 15px;
    margin: 0;
    font-size: 18px;
    color: #f9f9f9;
}
.image-slideshow p {
	padding: 0 15px 15px 15px;
    margin: 0;
    font-size: 14px;
    color: #dddddd;
}
@keyframes move {
    0%, 20% { transform: translateX(0); }
    25%, 45% { transform: translateX(-600px); }
    50%, 70% { transform: translateX(-1200px); }
    75%, 100% { transform: translateX(-1800px); }
}

@media (max-width: 60em) {
    .image-slideshow img {
      max-width: 600px;
      max-height: 300px;
    }
  }
  
@media (max-width: 48em) {
    .image-slideshow {
        max-width: 406px;
        max-height: 340px;
        display: inline-block;
    }
    .image-slideshow img {
        max-width: 406px;
        max-height: 340px;
        width: 100%;
        height: 100%;
    }
}